/* css mobile */
@media (max-width: 684px) {
    .header{
        padding: 0 8px 0 8px !important;
    }
    .header__center{
        display: none;
    }
    .header__right .fa-magnifying-glass{
        display: block;
    }
    .main__center-navbar .center__item:last-child {
        display: none;
    }
    .main__center-navbar,.main__center-mobile{
        padding-top: 0 !important;
    }
    .main__left, .main__right, .main__center {
        display: none;
    }
    .main, .main__center-mobile{
        display: block;
        width: 100%;
    }
    .main__center-mobile {
        width: 100%;
    }
    .container-contents{
        width: 100%;
    }
    .header__right .fa-bars{
        display: none;
    }
    .header__right .fa-right-to-bracket {
        display: block;
    }
    
    .btn-post {
        justify-content: space-between;
    }

    .btn-post button {
        display: none;
    }

    .btn-post-right {
        display: flex;
    }

    .btn-post-left i {
        font-size: 24px;
        line-height: 40px;
        color: #1c7ed6;
    }

    .btn-post h5 {
        display: block;
        line-height: 40px;
        font-size: 16px;
        color: #65676B;
    }

    .btn-app .post-item a{
        display: block;
    }
    .btn-app .post-item a h6 {
        margin: 0;
    }
}


