/* button grip */

.titleHint {
    display: block !important;
}

.show-sub-menu {
    display: block !important;
}

.title-show {
    display: block !important;
}

.line-hight {
    line-height: 37.82px;
}